body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
c {
    table-layout: fixed;
    word-wrap: break-word;
}

.container {
  width: 100vw;
  position: relative;
}

.appBgImg{
  background-image: url("https://cdn.nimbu.io/s/k38hpbo/channelentries/ogcflwz/files/raccoon%201.jpg?6rvmwlo=&filter=w_1200%2Ch_630%2Cc_fill");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
.appBgImg:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.table__container {
  width: 100%;
  position: relative;
}
.stats__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table__text {
  text-align: center;
}

.table__wrapper {
  width: 100%;
  margin-bottom: 20px;
  position: sticky;
  top: 180px !important;
  z-index: 2 !important;
}

.table__wrapper1 {
  width: 100%;
  max-height: 600px;
  margin-left: 0px;
  overflow: auto;
}

.table-rows {
  text-align: center;
  padding: 1rem 0;
  background-color: rgb(19, 17, 17);
  color: white;
}
.table-rows th {
  padding: .8rem;
}

.icon-two,
.icon-one {
  width: 30px;
  height: 30px;
}

.icon-one {
  color: rgb(139, 255, 71);
}

.icon-two {
  color: rgba(255, 0, 0, 0.5);
}

.icon-one:hover {
  color: rgba(0, 255, 0, 1)
}

.icon-two:hover {
  color: rgba(255, 0, 0, 1);
}

/* EDIT PAGE */

.edit-create-validation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-create-validation input {
  width: fit-content;
}

/* INFO BOX */
.info-box {
  width: 14rem;
  border-radius: .5rem;
  height: 7rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap;
  color: white;
  transform: translateY(0);
  transition: all .5s ease;
  cursor: pointer;
}

.info-box:hover {
  transform: translateY(-.5rem);
}

.info-box .span1 {
  padding: 2rem .5rem;
  color: white;
  font-style: none;
}

.info-box .span2 {
  padding: 2rem .5rem;
  color: white;
  font-style: bold;
}
/* END INFO BOX */

/* DASHBOARD */
.dashboadContainer {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.dashboadWrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid gray;
}

.search-bar, .search-bar1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 60px;
  z-index: 1;
}

.search-bar input {
  width: 16rem;
}

/* .search-bar .to-excel {
  background-color: red;
} */

.c{
  margin-bottom: 20px;
}
.star{
  font-size: 10px !important;
}
.checkbox{
  margin-left: 0px !important;
}
.check__label{
  margin-left: 5px !important;
}


@media screen and (min-width: 600px) {
  .container {
    width: 100vw;
  }

  .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .edit-create-validation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .dashboadWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 850px) {

  .search-bar1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
}
